#container{
    width:700px;
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
  .blue{
    background-color:blue;
  }
  .green{
   background-color:green;
  }
  .red{
    background-color:red;
  }
  .purple{
    background-color:purple;
  }
  .size{
    display:flex;
    align-items:center;
    width:150px;
    height:60px;
    border-radius:60%;
  }
  .top,.down{
    display:flex;
    justify-content:space-between;
  }